<p>
Somebody, we presume you, requested to reset your password at Holono.com. If you believe you have recieved this message in error, feel free to contact us through the holono feedback button.
Otherwise, use the link below to reset your password. 
<a href="<%= "#{user_url(@user)}/reset?pc=#{@user.reset}" %>"><%= "#{user_url(@user)}/reset?pc=#{@user.reset}" %></a>

<br />
<br />
<p>
Thanks, <br />
The Holono Team
</p>
