<div class="container">
	<div class="span-10", style="margin-top:9px"> 
		By Students at Harvey Mudd College 
	</div>
	<div class="span-5", style="margin-top:9px">
		<%= link_to "About", project_path(1) %> | <%= link_to "Help", project_path(1, :page =>"F.A.Q") %> | <%= link_to "Contact", project_path(1, :page =>"Contact")  %>
	</div>
	<div style="float:right">
		<% mudd = image_tag "mudd_logo.png" %><%= link_to mudd, "http://www.hmc.edu/" %>
	</div>
	<div class="span-9 last" id="header_menu">
	</div>
</div>