

.list_project_icon {
margin: 3px 0 0 3px; float:right;
width:20px;
}
#user_projects {
  padding: 0;
  width: 720px;
  vertical-align: top;
  background-color: rgba(255,255,255,1);
  border-radius: 0.5em 0.5em 0.5em 0.5em;
  -moz-border-radius: 0.5em 0em 0.5em 0.5em;	  
}

#user_projects_photo {
  width:70px;
}

#project_name_sidebar {	
  font-size:1.8em; 
  color:white; 
  padding:0.4em 0.4em 0.7em 0.4em;
  border-bottom: 1px solid #fff;
  text-align: center;
  line-height: 1.4em;	
  border-radius: 0.5em 0em 0em 0em;
  -moz-border-radius: 0.5em 0em 0em 0em;

}

#project_name_sidebar a{
  color:white; 	
}
#project_name_sidebar a:hover{
  border-bottom: 2px solid #fff

}

#project_name_background{
  padding:1px 0.5em 0.5em 0.5em;
  margin-bottom: 5px;
  border-radius: 0em 0.5em 0em 0em;
  -moz-border-radius: 0em 0.5em 0em 0em;
}

#add_project_name {
  font-size: 1.4em;
  color: #DF0200;

}
.list_project {
	padding-bottom: 0.8em;
	padding-top: 0.6em;
	border-bottom: 1px solid #e6e6e6;
	margin:0 0.6em 0 0.6em;
	
}

.list_project h1{
	font-size: 1.7em;
	color: #852D00;
	line-height:1em;
	margin-bottom:0.3em;
}

.list_project h1 a{
	font-weight: bold;
	color: #C80200;
}

/* @group right */



/* @end */

/* @group middle */

.list-project-middle-position{
	float: left;
	padding-left: 4em;
}

.list-project-bottom-push{ 
min-height: 70px;
margin-bottom: 0.4em;
float: left;
}

.user_info_2{
  padding: 0em 0em 0em 5.4em;
  font-size: 0.8em;
  text-align: bottom;
}

.list_project h2{
	font-size:1em;
	float: left;
	line-height:1.1em;
	margin:0;
}
.list_project h2 a{
	color: #db6969;
	font-size:1.1em;
	margin-right:0.5em;
	font-weight:bold;
	line-height:0;
}
.list_project h2 a:hover{
	text-decoration: underline; 
}



/* @end */

/* @group left
 */

.list-project-picture{
width: 120px;
height: 90px;	
float: left;
border-radius:0.2em;
}

/* @end */

.list_project h1 a:hover{
	text-decoration: underline;
	color: #C80200;
}

.list_project p{
  font-size: 1.2em;
  line-height: 1.1em;
  color:#444;
  margin:0;
  margin-bottom:0.3em
}

.list_project_wpic{
	float:left;
}

.list_project_wopic{
	float: left;
	padding-bottom:0.5em
}

#sample_list_project_name a{
  font-size: 1.1em;
  font-weight: bold;
  color: #EE000B;

}

#project_edit_name {
  color: #eef;
  font-size: 1em;
}

#list_project_name_edit a{
  font-size: 2.3em;
  font-weight: bold;
  color: #C30F01;
}

.list_project_users_list{
	margin-bottom:0.3em;
}

#project_kind{
	float:left;
	text-align:center;
	-border-radius: 5px;
	-webkit-border-radius: 5px;
	 font-size: 1em;
	-moz-border-radius: 5px;
	color: #9F4900;
	margin-right:0.5em;
	padding: 0 0.3em 0 0.3em;
	font-weight: bold;	
}