<div id="signupnow">
    <h2> What have you done?</h2>
    <div class="button orange">
        <%= link_to "Add a Project", new_user_path%>
    </div>
</div>

<div id="benefits">
    <p> Curious? Check out the <%= link_to "project page", "#{projects_path}/1" %>,
    or consider the possible benefits below.</p>
    <div id="details_spacing">
        <div style="margin-bottom:1em">
            <h3>Holono Beats Resumes</h3>
        </div>
        <p> Resumes aren't sufficient for showing the things you've worked on.  Holono is.  </p>
    </div>

    <div id="details_spacing">
        <div style="margin-bottom:1em">
            <h3>Organize your Documents & Links</h3>
        </div>
        <p> Does your recent project have a corresponding pdf, poster, youtube video, and blog?  Upload documents and post links instantly.</p>
    </div>


    <div id="details_spacing">
        <div style="margin-bottom:1em">
            <h3>Find Similar Projects</h3>
        </div>
        <p>There's lots of incredible projects spread all over the internet.  Those on Holono are linked together and organized.</p>
    </div>

</div>
