<div id="signupnow">
    <h2> What have you done?</h2>
    <div class="button orange">
        <%= link_to "Add a Project", new_project_path%>
    </div>
</div>

<div id="benefits">
    <p> Wondering what Holono's about? Check out the <%= link_to "project page", "#{projects_path}/1" %>,
    or find out why you should make your own Holono page for something awesome you've done...</p>
    <div id="details_spacing">
        <div style="margin-bottom:1em">
            <h3>Holono Beats Resumes</h3>
        </div>
        <p>  You've built cool things that you can't show on a resume. You've done activities that few friends or colleagues know about. Holono provides user portfolios to organize and show all of it.</p>
    </div>

    <div id="details_spacing">
        <div style="margin-bottom:1em">
            <h3>Organize Everything You've done</h3>
        </div>
        <p> Say you've made a few websites.  One has a related Youtube channel, two of them have related blogs, and all of them have Twitter accounts.  Holono summarizes that with corresponding badges.  </p>
    </div>


    <div id="details_spacing">
        <div style="margin-bottom:1em">
            <h3>Expansive Project Pages</h3>
        </div>
        <p>Each one of your projects gets it's own website, linked to all of its collaborators.  Create multiple pages to comprehensively describe your work, or just use it to organize content from other places.</p>
    </div>

</div>
