
<div class="container", style="margin-top:1em">
	<div id="blurb">
		<h1>Portfolios for Innovators.</h1>
	</div>
	<div id="home_project_box" class="span-16">
			<%= link_to image_tag('frontpage/2.png'), User.find(2) %> 
	</div>
	<div id="registration_box" class="span-8 last"><%= render 'pages/home/signup' %></div>
	<% render 'pages/home/main_bottom' %>
</div>

