<div id="Holono-description">
	
	<div style="color:black; font-size: 1.5em; font-weight:bold">
	The Stage
	</div>
	
	
	The Stage is an expanded News Feed of everything new on Holono.
</div>


<div class="hr"><hr /></div>

<div>
<% link_generator(Project.all,0,30) %>
<% @links.each do |u| %>
<div class="home-popular-tags"><%="[ #{u[1]} ] "%><%= link_to u[0], stage_path(:search => u[0]) %>  </div>
<%end%>
</div>