<div id="Holono-description">
	Holono is a place to showcase and share projects. </br></br>
	<% unless signed_in? %>
		<div style="font-size:0.85em">
		<%= link_to "Create an Account", Project.find(56) %> to</br>
		- Post Projects and Groups</br>
		- Follow and promote other Projects</br>
		- Create a personal profile</br>
		</div>
	<% end %>
</div>

<div class="hr"><hr /></div>

<div>
<% links_generator %>
<% @links.each do |u| %>
<div class="home-popular-tags"><%="[ #{u[1]} ] "%><%= link_to u[0], home1_path(:search => u[0]) %>  </div>
<%end%>
</div>