
<ul>
<li> Showcase what you're doing. </li>
<li> See projects in your community. </li> 
<li> Get involved.</li> 
</ul>

<% unless signed_in? %>
	<div id="facebook_signup">
		<%= link_to image_tag('facebook-register.png', :style=>"width:280px"),  "/auth/facebook"%>
	</div>
	<div style="font-weight: bold;margin-left:1em;">
		Or, <%= link_to  'Register Normally', "users/new" %>
	</div>
<% end %>
