/* @group jvent */

/* @group rightbar */

.jvent-join {
	
}

.jvent-cancel {
	
}

/* @group job */

.jvent-job-price {
	
}



/* @end */

/* @group event */

.jvent-event-number{
	
}



/* @end */



/* @end */

/* @group middle */

.jvent-description h1{
	background-color: #ff4e7c;
	width:95%;
	height: 95px;
}

.jvent-description {
	background-color: #ff4e7c;
	width:95%;
	height: 95px;
}

.jvent-info{
	background-color: #ff4e7c;
	width:95%;
	height: 95px;
}

.jvent-description h3{
	
}

/* @end */

/* @group picture */

.jvent-picture {
	background-color: #955cff;
	width:95%;
	height: 100px;
}



/* @end */
#jvent {
	background-color: #ff7241;
	font-weight: bold;
	width:100%;
	height:100px;
}

/* @end */

/* @group Side */

#sidebar2{
	height:200px; 
	margin-top:0.7em; 
	background: yellow;
	border-radius: 0.5em;
}

#sidebar1{
	height:200px; 
	margin-top:4em; 
	background:red;
	border-radius: 0.5em;
	
}



/* @end */

/* @group Top */

/* @group banner */

#header1{
	height:120px; 
	background:red;
	border-radius: 0.5em;
}
#header1 h1{
	
}


/* @end */

/* @group social */

#social1{
	height:120px; 
	background:rgba(255,255,255,0.3);
	border-radius: 0.5em;
	
}



/* @end */



/* @end */

/* @group menu */

#menu{
	background:yellow;
	height:40px;
	margin-top:0.7em; 
	border-radius: 0.5em;
	border: 2px solid black;
	
}

#main1{
	background-color: white;
	height:300px; 
	margin-top:0.5em;
	border-radius: 0.5em;
	
}



/* @end */