.user{
	font-size: 1.2em; 
	padding-bottom: 0.5em;
	margin:0;
	padding:0.4em;
	background-color: #9B1613;
	border-radius: 0.4em;
	-moz-border-radius: 0.4em;
	margin-bottom:0.3em;
}

#home-user-projects {
	padding: 0;
	width: 720px;
	vertical-align: top;	
}

#home-user-projects-photo {
	margin-right:1.1em;
	float:left;
}

#home-project-list{
	min-height:400px;
	float:left;
	padding-bottom:0.3em;
	padding-top:0.4em;
	border-bottom: 1px solid #E6CDC2;
	min-width:680px;

}

#home-project-name-div {
	font-size: 1.8em;
	color: #913100;
}

#home-project-name-div  a{
	font-weight: bold;
	color: #DF0200;
	
}

#home-project-name-div  a:hover {
	text-decoration: underline;
	color: #DA2400;

	
}


#home_background {
	background: rgba(250,250,250,0.9);
	height: 340px;
	overflow: hidden;
	position: relative;
}

#letter{
	color:white;
	font-size:1.3em;
}

#letter h2{
	color:white;

}

#letter a:hover{
	color:red;
}

#team{
	margin-left: 4em;
	margin-top:1em;
}

#details_spacing{
	width:200px;
	float:left;
	margin-left:1.6em;
	margin-right:1.2em;
}

#home_sample_projects tbody tr:nth-child(even) td, tbody tr.even td {
	background:#333;
	
}

#home_projects_photo {
	margin-left:1.7em;
	margin-right:1.7em;
	float:left;
}

#facebook-center{
	position:relative; 
	top:-38px; 
	width:0px; 
	left:840px; 
	height:50px; 
	float:left;
	color:white;
}

#project-week{
	color:#EE000B; 
	font-size:1.1em; 
	display:inline;

}
#facebook-description{
	color:#ddd;
	margin-right:9.6em;
	float:right;
	font-size:1.1em;
	position:relative;
	top:-12px;
	line-height:1.4em;
}
#facebook-description h3{
	color:#EE000B;
	display:inline;
	margin:0;
	font-size:1.2em;
}


#home_project_box{
	height:370px;
	padding:1em 0 0 0.4em;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    
}

#home_top_container{
    background: #222;
	height: 350px;
	border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 0.2em 0.5em 0.5em 0.5em;
}

#registration_box{
    color: #fff;
}

#registration_box h2 {
    color: #dd0000;
    margin: 0 0 0.2em 0;
	font-size:1.9em;
	width:500px;
}

#registration_box h4 {
    color: #A00;
    margin: -0.2em 0 0.2em 0;
	width:500px;
}

#registration_box #register_button{
    background: #dd0000;
    color:  #ffffff;
    margin: 0.5em 0 0 3.5em;
    padding: 0.7em 1.2em 0.7em 1.2em;
    border: 0;
    font-size: 1.2em;
    font-weight: bold;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	-moz-border-radius: 0.2em 0.2em 0.2em 0.2em;

}

#registration_box #register_button:hover{
    box-shadow: 0 0 10px rgba(255, 0,0, 1);
    -webkit-box-shadow: 0 0 10px rgba(255, 0,0, 1); 
    -moz-box-shadow: 0 0 10px rgba(255, 0,0, 1);
    cursor: pointer;
	
}

#registration_box .field input{
    outline: none;
    font-size: 1.3em;
    width: 267px;
    margin: 0 0 0.5em 0;
	
}

#registration_box .field input:focus{
    box-shadow: 0 0 6px rgba(255, 0, 0, 1);
    -webkit-box-shadow: 0 0 6px rgba(255, 0, 0, 1); 
    -moz-box-shadow: 0 0 6px rgba(255, 0, 0, 1);
}

#registration_box .field label{
    font-size: 1.2em;
    padding: 0 0 0 0;
	
}

#home_explanation_box{
	width:300px;
	background-color:#9B1613;
	color:white;
	float:left;
	margin-left:1em;
	margin-right:1em;
	padding:1em;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
	
}


#home_bottom_box{
	margin-left:0.8em;
	margin-right:0.3em;
	padding:1em;
	border-radius: 0em 0em 0.5em 0.5em;
	-moz-border-radius: 0em 0em 0.5em 0.5em;
	background-color:white; 
	border: 1px solid #E6CDC2;
	border-top: 4px solid #9B1613;
	
	
}

#home_bottom_box_top{
	margin-left:0.8em;
	margin-right:0.3em;
	padding:1em;
	border-radius: 0.5em 0.5em 0em 0em;
	-moz-border-radius: 0.5em 0.5em 0em 0em;
	background-color:white; 
	margin-top:1em;
	height:16px;
	text-align: center;
	
}

#home_bottom_box_top a{
	font-size:1.4em;
	color: #C31310;
	font-weight:bold;
	line-height:1.1em;
	border-bottom: 2px solid #C31310;
	
}

#log_in{
    width: 35px; 
    float: right; 
    padding: 0.5em 0 0 1em; 
}

#log_in a, #new_account a{
    color: #aa0000;
}

#new_account{
    width: 85px;
    float: right;
    padding: 1.5em 0 0 1em;
}

#home_info_toggle{
	padding:0.3em 0.5em 0.4em 0.5em;
	border-radius: 0.4em 0.4em 0 0;
	-moz-border-radius: 0.4em;
    color:  white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
	font-size:1.6em;
	text-align:center;
	margin-right:3em;
	float:right;
}

#home_info_toggle a{
	color:  white;
}

#home_info_toggle a:hover{
	color:  #FF3D09;
}

#benefits h2,h3{
    color: #ffffff;
	margin-bottom:0.3em;
	line-height:0.7em;	
}

#reasons{
	color:white;
	background:#333;
	background:#333;
	margin-left:13em;
	font-size:2em;
	text-align:center;
	top:-19px;
	width: 310px;
	position:relative;
}
#details_name{
	float:left;
	position:relative;
	background-color:black;
	opacity:0.3;
	top:30px;
	padding-top:0.2em;
	width:200px;
	height:40px;
}

#details_name_full{
	float:left;
	position:relative;
	padding-top:0.2em;
	top:30px;
	width:200px;
}

#benefits p{
    color: #97A3AB;
}

#header_title h1{
    padding-left: 0.7em;
    font-size: 2.8em;
	margin-bottom:0px;
	position:relative;
	top:6px;
}