#project_new{
    background-color: #999999;
    padding: 1em 1em 1em 1em;
}

#common_tags{
    background-color: #dd3333;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
}
#project_new_left textarea{
    width: 240px;
    height: 150px;
}

#project_new_left{
    background-color: #aa0000;
   	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    padding: 1em 0 0 1em;
    
}

#project_new_right submit{
	color: #fff;
	background-color: #52DC0D;
	text-align:center;	
	font-size: 1.8em;
	padding: 0.1em 0.3em;
	border: 3px solid #17852A;
	text-align:center;
	border-radius:5px;
	margin:0;
}

#project_new_right submit:hover{
	color: #fff;
	background-color: #ADF403;
	text-align:center;	
	font-size: 1.8em;
	padding: 0.1em 0.3em;
	border: 3px solid #1A962F;
    pointer: cursor;
}
