#project_new{
    background-color: #999999;
    padding: 1em 1em 1em 1em;
}

#common_tags{
    background-color: #dd3333;
    border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
}
#project_new_left textarea{
    width: 240px;
    height: 150px;
}

#project_new label{
  font-size: 1.4em;
}
#project_new_left{
    background-color: #aa0000;
   	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    padding: 1em 0 0 1em;
    
}
#project_new_left input{
  width: 240px;
}
#project_new_left #project_name{
    height: 1.5em;
    font-size: 1.4em;
    width: 240px;
}

#project_new_right #project_submit{
	color: #fff;
	background-color: #aa0000;
	text-align:center;	
	font-size: 1.8em;
	padding: 0.1em 0.3em;
	border: 2px solid #880000;
	text-align:center;
	margin:0;
}

#project_new_right #project_submit:hover{
	background-color: #880000;
    pointer: cursor;
}
