#user_page_name{
	position: relative; 
	width:210px; 
	left:1px; 
	text-align:left; 
	background-color: rgba(120,4,4,0.7);
	padding: 0.4em 0 0.4em 0;
}

#big-user-pic-regular{
	border-radius: 0.8em 0.2em 0.8em 0.2em;
	position: relative;
	left: 1px;
}

#big-user-pic-part{
	border-radius: 0.8em 0.2em 0.2em 0.2em;
	position: relative;
	left: 1px;

}

#form_back{
	background: #DCF5DC; 
	margin-right:0;
	margin-top:0.5em;
	padding:0.5em 0.5em 0;
	width: 600px;
	border-radius:0.6em;
	-moz-border-radius:0.6em;
	border: 2px solid #67BC56;
	color: #70BE67;	
	
}

#form_back textarea{
    height: 5em;
    width: 21.5em;
}

#nocool_project_button{
	margin-top: 3.6em;
	margin-bottom: 1em;
	margin-left:0.5em;
	text-align:center;
	background-color: #DCF5DC;
	padding: 0.2em 0.8em 0.2em 0.8em;
	border: 2px solid #67BC56;
	border-radius:0.5em;
	float:left;
	width:58px;
}

#nocool_project_button a{
	font-weight:bold;
	font-size: 1em;
}
#nocool_project_button a:hover{
	font-size: 1em;
	color: #ccc;
}


#add_project{
	font-size:1em;
	margin:0;
	float:left;
	width:115px;
}

#add_project h2{
	line-height:1.1em;
	color:#199E2F;
	font-weight: bold;
	margin-bottom:9px;
	font-size:2.2em;
}

#add_project h3{
	line-height:1em;
	margin-bottom:0em;
	display:inline;
	color:#00811F;
	top:3px;
}

#add_project h4{
	color:#00811F;
	line-height:1em;
	margin-bottom:0em;
	display:inline;
	margin-top:0.4em;
}

.submit{
	margin-top:0.2em;
}
#submit_button{	
	margin-top: 1.5em;
	margin-bottom: 0;
}

#submit_button{
	color: #fff;
	background-color: #52DC0D;
	text-align:center;	
	font-size: 1.8em;
	padding: 0.1em 0.3em;
	border: 3px solid #17852A;
	text-align:center;
	border-radius:5px;
	margin:0;
}
#submit_button:hover{
	color: #fff;
	background-color: #ADF403;
	text-align:center;	
	font-size: 1.8em;
	padding: 0.1em 0.3em;
	border: 3px solid #1A962F;

}






#home_background {
	background: rgba(250,250,250,0.9);
	height: 340px;
	overflow: hidden;
	position: relative;
}

#letter{
	color:white;
	font-size:1.3em;
}

#letter h2{
	color:white;

}

#letter a:hover{
	color:red;
}

#team{
	margin-left: 0em;
	margin-top:1em;
}

#details_spacing{
	width:200px;
	float:left;
	margin-left:1.6em;
	margin-right:1.2em;
}

#home_sample_projects tbody tr:nth-child(even) td, tbody tr.even td {
	background:#333;
	
}

#home_projects_photo {
	margin-left:1.7em;
	margin-right:1.7em;
	float:left;
}

#home_project_box{
	height:370px;
	padding:1em 0 0 0.4em;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
    
}

#home_top_container{
    background: #222;
	height: 350px;
	border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 0.2em 0.5em 0.5em 0.5em;
}

#registration_box{
    color: #fff;
}

#registration_box h2 {
    color: #dd0000;
    margin: 0.5em 0 0.2em 0;
	font-size:1.55em;
	width:500px;
}

#registration_box #register_button{
    background: #dd0000;
    color:  #ffffff;
    margin: 0.5em 0 0 3.5em;
    padding: 0.7em 1.2em 0.7em 1.2em;
    border: 0;
    font-size: 1.2em;
    font-weight: bold;
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	-moz-border-radius: 0.2em 0.2em 0.2em 0.2em;

}

#registration_box #register_button:hover{
    box-shadow: 0 0 10px rgba(255, 0,0, 1);
    -webkit-box-shadow: 0 0 10px rgba(255, 0,0, 1); 
    -moz-box-shadow: 0 0 10px rgba(255, 0,0, 1);
    cursor: pointer;
	
}

#registration_box .field input{
    outline: none;
    font-size: 1.3em;
    width: 267px;
    margin: 0 0 0.5em 0;
	
}

#registration_box .field input:focus{
    box-shadow: 0 0 6px rgba(255, 0, 0, 1);
    -webkit-box-shadow: 0 0 6px rgba(255, 0, 0, 1); 
    -moz-box-shadow: 0 0 6px rgba(255, 0, 0, 1);
}

#registration_box .field label{
    font-size: 1.2em;
    padding: 0 0 0 0;
	
}

#home_explanation_box{
	width:300px;
	background-color:#9B1613;
	color:white;
	float:left;
	margin-left:1em;
	margin-right:1em;
	padding:1em;
	border-radius: 0.5em 0.5em 0.5em 0.5em;
	-moz-border-radius: 0.5em 0.5em 0.5em 0.5em;
	
}


#home_bottom_box{
	margin-left:0.8em;
	margin-right:0.3em;
	padding:1em;
	border-radius: 0em 0em 0.5em 0.5em;
	-moz-border-radius: 0em 0em 0.5em 0.5em;
	background-color:white; 
	border: 1px solid #E6CDC2;
	border-top: 4px solid #9B1613;
	
	
}

#home_bottom_box_top{
	margin-left:0.8em;
	margin-right:0.3em;
	padding:1em;
	border-radius: 0.5em 0.5em 0em 0em;
	-moz-border-radius: 0.5em 0.5em 0em 0em;
	background-color:white; 
	margin-top:1em;
	height:16px;
	text-align: center;
	
}

#home_bottom_box_top a{
	font-size:1.4em;
	color: #C31310;
	font-weight:bold;
	line-height:1.1em;
	border-bottom: 2px solid #C31310;
	
}

#log_in{
    width: 35px; 
    float: right; 
    padding: 1.5em 0 0 1em; 
}

#log_in a, #new_account a{
    color: #aa0000;
}

#new_account{
    width: 85px;
    float: right;
    padding: 1.5em 0 0 1em;
}

#home_info_toggle{
	padding:0.3em 0.5em 0.4em 0.5em;
	border-radius: 0.4em 0.4em 0 0;
	-moz-border-radius: 0.4em;
    color:  white;
    border-top: 3px solid white;
    border-left: 3px solid white;
    border-right: 3px solid white;
	font-size:1.6em;
	text-align:center;
	margin-right:3em;
	float:right;
}

#home_info_toggle a{
	color:  white;
}

#home_info_toggle a:hover{
	color:  #FF3D09;
}

#benefits h2{
	margin-bottom:0.3em;
	line-height:0.7em;	
}

#benefits h3{
	margin-bottom:0.9em;
	line-height:0.7em;	
}
#reasons{
	color:white;
	background:#333;
	background:#333;
	margin-left:13em;
	font-size:2em;
	text-align:center;
	top:-19px;
	width: 310px;
	position:relative;
}
#details_name{
	float:left;
	position:relative;
	background-color:black;
	opacity:0.3;
	top:30px;
	padding-top:0.2em;
	width:200px;
	height:40px;
}

#details_name_full{
	float:left;
	position:relative;
	padding-top:0.2em;
	top:30px;
	width:200px;
}

#benefits p{
    color: #97A3AB;
}

#header_title h1{
    padding-left: 2.7em;
    font-size: 4.1em;
	margin-bottom:0px;
	position:relative;
	top:4px;
}
