<div style="font-size:2em; color: #913100;"> 
Project Feed </div>
<hr>


<% h = {:L => @user.projects_following, :i => []} %>
<% @user.users_following.each do |i| %>
	<% i.projects.each do |u| %>
		<% h[:L] += [u] unless (h[:L].include?(u) || @user.projects.include?(u)) %>
	<% end %>
<% end %>
<% h[:L].each do |project| %>
	<% if project.project_pages.any? %>
		<% project.project_pages.each do |page| %>
			<% if project.updated_at > page.updated_at %>
				<%  h[:i]+= [[project,"Main",project.updated_at]] %>
			<% else %>
				<% h[:i]+= [[project,page.title.titleize,page.updated_at]] %>
			<% end %>
		<% end %>
	<% else %>
		<% h[:i] += [[project,"Main",project.updated_at]] %>
	<% end %>
<% end %>
<%= render 'snippets', :list => h[:i].sort!{|t1,t2| t2[2] <=> t1[2]} %>
