<div id="projects">
	<% if signed_in? && @current_user == User.find_by_id(params[:id]) %>
		<div id="login_special", align="center">
			<%=link_to "Edit Your Profile!", edit_profile_user_path(current_user) %>
		</div>	
	<% end %>
	<div align="center">
		<% if @profile.photo.exists? %>
			<%= image_tag @profile.photo.url(:small) %>
		<% end %>
	</div>
	<div id="user_info_tabs_containter" class ="span-6">
		<div id="user_info_tabs">	
			<%= link_to "Projects", user_path(@user, :page => "projects2") %>
		</div>
		<% ["About","Contact"].each do |s| %>
			<div id="user_info_tabs">	
				<%= link_to s, user_path(@user, :page => s.downcase) %>
			</div>
		<% end %>
	</div>
</div>