<div id="project_header" class="span-14 last">
<ul>
<li class ="current"> <%= link_to "Projects", user_path(@user, :page => "projects")  %></li>
<li class ="current"><%= link_to "About", user_path(@user, :page => "about")  %></li>
<li class ="current"><%= link_to "Skills", user_path(@user, :page => "skills")  %></li>
<li class ="current"><%= link_to "Contact", user_path(@user, :page => "contact")  %></li>
</ul>
</div>

