<%= raw @profile.skills %><br />
<% if signed_in? && @current_user == User.find_by_id(params[:id]) %>
	<button id="showDlg">Edit Page</button>
	<div id="dialogContainer">
		<div class="bd">
			<%= render 'shared/edit_page', :profile_field => :skills %>
		</div>
	</div>
<% end %>

