
<% if signed_in? && @current_user == User.find_by_id(params[:id])%>
<br/>
<br/>

<div id="login_special">
 <%= link_to "Edit About", user_path(@user, :page => "edit_about")  %>
  </div>
<% end %>

<% if !@user.about.nil?%>
<%= raw @profile.about %>
<% end %>
