<div id="project_header" class="span-7 last">
 <div><%= link_to "Projects", user_path(@user, :page => "projectslist")  %></div>   
</div>

<div id="project_header" class="span-7.5 last">
 <div><%= link_to "About Page", user_path(@user, :page => "userinfo")  %></div>  
</div>