<div style="font-size:2em; color: #913100;"> 
Project Feed </div>
<hr>
<% h = {:L => @user.projects_following, :i => [], :max => ["Main",nil]} %>
<% @user.users_following.each do |user| %>
	<% user.projects.each do |project| %>
		<% h[:L] += [project] unless (h[:L].include?(project)) %>
	<% end %>
<% end %>
<% h[:L].each do |project| %>
	<% if project.project_pages.any? %>
		<% h[:max][1] = project.updated_at %>
		<% project.project_pages.each do |page| %>
			<% if page.updated_at > h[:max][1] %>
				<% h[:max] = [page.title,page.updated_at] %>
			<% end %>
		<% end %>
		<% h[:i]+= [[project,h[:max][0],h[:max][1]]] %>
	<% else %>
		<% h[:i] += [[project,"Main",project.updated_at]] %>
	<% end %>
<% end %>
<%= render 'snippets', :list => h[:i].sort!{|t1,t2| t2[2] <=> t1[2]} %>
