<% if @user.projects.count>6 %>
	<div class="span-8" id="project_name_div">Projects:</div>
		<% form_tag(user_path, :method => :get) do %>
			<div class="span-16-last" style="text-align:right">
				<b><%= link_to "Clear Filters", user_path %> | Filter by:</b> <%= text_field_tag :tag %>  <%= submit_tag "View" %>
			</div>
		<% end %>
	</div>
<% end %>