<%= stylesheet_link_tag 'user' %>

<div class="container" style="padding-top:8px; padding-bottom:20px; min-height: 350px">
	<div id="user_background" class="span-24">	
		<table cellspaceing="0" style="margin:0">
			<tbody>
				<tr>
					<td id="profile_div"><%= render 'users/users_soft_sidebar' %></td>
					<td id="user_projects"><%= render 'users/users_sidebar' %></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>