<% link_generator(@user.projects,0,5) %>
<%= stylesheet_link_tag 'project-list/project-regular' %>

<%= stylesheet_link_tag 'user' %>

<div class="container" id="default-container">
	<div id="user_background" class="span-24">	
		<table cellspaceing="0" style="margin:0">
			<tbody>
				<tr>
					<td id="user_sidebar_position" class="span-6 last">
						<%= render 'users/show_project/user_sidebar' %>
					</td>
						<td id="user_projects" class="span-18">
							<%= render "users/show_project/user_projects" %>	
						</td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
