<div class="span-11 last" style="text-align:center">

<div id="home-user-projects-photo" >
	<%logo = image_tag project.photo.url(:huge), :class => "big-picture" %>
	<%= link_to logo, project %>
</div>

</div>

