

<div style="float:right; margin-right:1em; margin-bottom:0.2em">
    <%= render 'projects/splash/links', :project => @project %>
</div>


<div class="span-5">
    <%= render 'projects/splash/social' %>
</div>
