<% content_for :head do %>
	<script>
	</script>
<% end %>


<% if signed_in? && current_user_page? %>
	<%= render 'users/show_project/user_quick_project' %>
<% else %>
	<% unless @projects.any? %>
		<div id="no_projects"><%= "#{@user.name} has not posted any projects." %></div>
	<% end %>
<% end %>
<% if @projects.any? %>
		<%= render :partial => "shared/common_list_elements/list_project", :collection => @projects %>
<% end %>
</div> 
