
<div class="container", style="margin-top:1em">
	<div id="blurb">
		<h1>Free Project Pages and Portfolios</h1>
	</div>
	<div id="home_project_box" class="span-17">
		<div id="slider">
			<%= link_to image_tag('frontpage/2.png'), User.find(2) %> 
		</div>
	</div>
	<div id="registration_box" class="span-6"><%= render 'pages/signup' %></div>
	<% render 'pages/main_bottom' %>
</div>

