<% if searchresults.length == 0 %>

	<p>Sorry! No articles found...</p>

<% elsif params[:query] == "" %>
    
    <p>You must enter a search term.</p>

<% else %>
	
	<ul>
	<% for article in searchresults %>	   
	    <li><%= link_to article.title , article_url(:id => article.id) %></li>
	<% end %>
	</ul>

<% end %>
