
<div class="span-6"><h2>Showcase <br /> what you're doing <br />and what you've made</h2></div>
<% unless signed_in? %>
	<div class="span-6 last" id="facebook_signup">
		<%= link_to image_tag('facebook-register.png', :style=>"width:280px"),  "/auth/facebook"%>
	</div>
	</br>
	<div style=" color: #fff; font-size: 1.5em; font-weight: bold; float:left; margin-left:0.4em;">
		Or, <%= link_to  'Register Normally', "users/new" %>
	</div>
<% end %>
