#main .container {  
    background-image:url(images/background_light.jpg);  
    background-repeat:no-repeat;  
    min-height:400px;  
}
<h1>Pages#contact</h1>
<p>Find me in app/views/pages/contact.html.erb</p>
