<%= stylesheet_link_tag 'fake' %>


<div class="container", style="padding-top: 8px; float:right; margin-right:4em; padding-bottom: 20px; min-height: 350px">
	<div class="span-24">
		<div class="span-24">
			<div class="span-18", id='header1'>
			</div>
			<div class="span-6 last", id="social1">
				</div>
		</div>

		<div class="span-24">
			<div class="span-18">
				<div  id='menu'>
				</div>
				<div  id='main1'>	
				</div>
			</div>
			<div class="span-6 last">
				<div id='sidebar1'></div>
				<div id='sidebar2'></div>
				
			</div>	
		</div>
	</div>
</div>
