<div class="container">
	<div id="home">
		<%= render 'main_info' %><br />
		<div id="home_button"><%=link_to image_tag(src="/images/button.png"), create_path %></div>
		<div class="home_1"> 
			<% i = User.find_by_name("Professor Paul") %>
			<% if !i.nil? %>
				<% logo = image_tag "examplepage600.png" %><%= link_to logo, i %>
			<% else %>
				<img src="/images/examplepage600.png"/>
			<% end %>
		</div>
		<br />
		<br />
		<hr /><br />
	</div>
	<div class="container" style="color:#EE000B; font-color:white; margin-left:2em; font-size:2.5em">
		<%= render 'sample_users' %>
	</div>
</div>