<% a= like.user%>

<div class="home-user-pic" style="float:left">

<% if (like.description == "awesome")  && a.profile.awesome_photo.exists? %>
<% logo = image_tag a.profile.awesome_photo.url(:tiny)%> 

<% elsif (like.description == "interesting")  && a.profile.interesting_photo.exists? %>	
<% logo = image_tag a.profile.interesting_photo.url(:tiny)%> 

<%else %>
<% logo = image_tag a.profile.photo.url(:tiny)%>

<% end %>
<%= link_to logo, a, :class => "left"  %>

</div>    


