<% if @pages.any?%>
<div id="project_tabs_background">
		<% @pages.each do |page| %>
			<div class="project_tabs" <%= "id = 'current'" if page.title == params[:page] %>>
				<%= link_to page.title.titleize, project_path(@project, :page => page.title) %>
			</div>
		<% end %>
		<% if current_project_user? %>
			<div class="project_tabs" style="background-color:#F06F00">
				<b><%= link_to "New Page", newpage_project_path %></b>
			</div>
		<% end %>
</div>
<% else %>
	<% if current_project_user? %>
		<div id="project_tabs_background">
			<div class="project_tabs" style="background-color:#F06F00">
				<b><%= link_to "New Page", newpage_project_path %></b>
			</div>
		</div>
	<% end %>
<% end %>