<div id="home-project-name-div" ><%= link_to project.name, project %> 
	<div style="top:-2px; display:inline; position:relative">
	<script src="http://connect.facebook.net/en_US/all.js#xfbml=1"></script><fb:like href="<%= project_url(project)%>" layout="button_count" show_faces="true" ref="holono.com" width="40px"></fb:like>
	</div>
</div>
<%if project.users.any? %>  
	<% project.users.each do |u| %>
			<div id="more-projects" style="font-size:1em;display:inline">
			<%= link_to u.name, u %>
			</div>
	<% end%>
<% end %>
<div id="time-posted"><%=project.created_at.strftime("Posted: %I:%M %p, %B %d %Y")%></div>

