<div id="project_name_background" class="span-18">
	<div id="project_name_header"><%= link_to @project.name, @project %> </div> 
</div>
<div id="project_tabs_background" class="span-18">
	<div id="project_tabs_background_2">
		<% @pages.each do |page| %>
			<div class="project_tabs" <%= "id = 'current'" if page.title == params[:page] %>>
				<% redirect = edit_page_project_path(@project, :page => page.title) %>
				<%= f.submit "Edit #{page.title.titleize}", :redirect => redirect %><br />
			</div>
		<% end %>		
		<div class="project_tabs" style="background-color:#F06F00">
			<b><%= link_to "New Page", newpage_project_path %></b>
		</div>
	</div>
</div>
