
#users_list {
color:white;
}

#users_list a{
color:white;
}

#users_list a:hover{
color:white;
}


.user_description_box{
	font-size: 1.2em; 
	margin:0;
	background-color: rgba(40, 40, 40, 0.4);
	border-radius: 0.2em 0.2em 0.2em 0.2em;
	-moz-border-radius: 0.2em 0.2em 0.2em 0.2em;
	float:left;
	width:160px;
	height:100%;
}

.user{
	margin:0;
	margin-bottom:0.6em;
	
}



.user_name{
	font-size: 1em;
	position:relative;
	height: 23px;
	line-height:1.1em;	
}

.user_name a:link {
	color: #fff;	
}

.user_name a:visited {
	color: white;
	
}

.user_name a:hover {
	border-bottom: 1px solid #fff;
}


.user_pic_name{
	margin-left: 1.5em;
	
}

.user_pic{
	height:50px;
	width:50px;
	margin-right:5px;
	float:left;
}

.user_name_definition{
	font-size: 1em;
	height: 23px;
	line-height:1.1em;	
	margin-left:4em; 
	text-align: left; 
	margin-top:0.4em; 
}

.user_name_definition a{
	color:#C01426;	
}

.user_name_definition a:hover {
	border-bottom: 1px solid #C01426;
}

.user_info{
	font-size: 0.8em;
	color: white;
	line-height: 1.3em;
	position:relative;
	top:-3px;
}

.user_info a {
	color: #white;
	
}

.user_info a:hover {
	text-decoration: underline;
	
}






