<div id="project-description-div", style="margin-top:0.5em; float:left; width:450px">	
		<% if (project.description == nil) %>
		<%= raw(project.abstract) %>
		<% else %>
		<%= raw(truncate(project.description, :length => 1000)) %>
		<% if (project.description.length >= 1000) %>
			<div id="more-projects">
				<%= link_to "more", project %>
			</div>
		<% end%>
		<% end%>
</div>